<div class="register-content">
    <div class="app-register-form">
        <h2>Register</h2>
        <form class="register-form" #authForm="ngForm" (ngSubmit)="onFormSubmitted(authForm)">
            <div class="form-input">
                <label>Email Address</label>
                <input type="email" 
                name="email" 
                ngModel required email>
            </div>
            <div class="form-input">
                <label>Password</label>
                <input type="password" 
                name="password" 
                ngModel required minlength="3">
            </div>           
            <button type="submit" 
                    name="register" 
                    class="app-register-btn"
                    [disabled]="authForm.invalid">
                Register
            </button>
            <p>Already have and account? 
                <button class="app-toggle-btn" 
                    type="button" (click)="navigateToLogin()">Login here
                </button>
            </p>
        </form>
    </div>
</div>


