
  <div class="page-header">
      <div class="page-header-logo">
        <h2>Blue Income</h2>
      </div>
     
        <div class="page-header-primary">
          <div class="page-header-primary-nav">
              <a routerLink="home" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact:true}">HOME</a>
              <a routerLink="about" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact:true}">ABOUT</a>
              <a routerLink="contact" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact:true}">CONTACT</a>
              <a routerLink="features" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact:true}">Features</a>
          </div>
          <div class="page-header-login-logout">
              <a routerLink="login" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact:true}">Login</a>
              <a routerLink="register" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact:true}">Register</a>
              <a routerLink="logout" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact:true}">Logout</a>
          </div>
        </div>
        
     
    </div>