<div class="section-header">
    <h1>Our Services</h1>
</div>

<div class="container">
  <ul>
    <li>Pre-selected list of Canadian and US companies that pay dividends. All preselected companies passed our risk evaluation filters</li>
    <li>Forecasting market volatility dates</li>
    <li>Dates to buy at the best possible prices</li>
    <li>Dates when to sell your stock</li>
  </ul>
  <p>&nbsp;</p>
</div>

<div class="home-page-services">
  Check yourself company's finacial reports and do your own reseach before you buy one of the stocks from the recommended list. 
  We provide you with what we found suitable to invest into..
</div>
